@use "@styles/globalStyles.scss" as G;

.body {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  background-color: #0a0c1c88;

  display: grid;
  place-content: center;
  overflow: hidden;
}

.modal {
  border-radius: 25px;
  background-color: var(--white);

  @include G.breakpoint("xm") {
    width: 327px;
  }

  &_header {
    padding: 34px 40px 30px;
    border-bottom: 1px solid #e3e1e1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include G.breakpoint("xm") {
      padding: 24px;
    }

    &_title {
      font-size: 28px;
      font-weight: 700;
      color: #161932;

      @include G.breakpoint("xm") {
        font-size: 20px;
      }
    }

    &_close {
      border: 0;
      outline: none;
      cursor: pointer;
      background: transparent;
    }
  }

  &_body {
    padding: 24px 40px 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;

    @include G.breakpoint("xm") {
      padding: 24px 24px 60px;
    }

    &_timesetting {
      display: flex;
      flex-direction: column;
      gap: 22px;

      &_title {
        text-transform: uppercase;
        color: #161932;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 5px;

        @include G.breakpoint("xm") {
          text-align: center;
          font-size: 11px;
        }
      }

      &_group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @include G.breakpoint("xm") {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(3, 1fr);
          gap: 6px;
        }
      }
    }

    &_fontsetting,
    &_colorsetting {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;

      @include G.breakpoint("xm") {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        gap: 18px;
      }

      &_title {
        text-transform: uppercase;
        color: #161932;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 5px;

        @include G.breakpoint("xm") {
          text-align: center;
          font-size: 11px;
        }
      }

      &_group {
        display: flex;
        align-items: center;
        gap: 16px;
        justify-self: center;

        &_btn {
          border-radius: 100%;
          width: 40px;
          aspect-ratio: 1/1;
          background-color: #eff1fe;
          outline: none;
          border: 0;
          display: grid;
          place-content: center;
          cursor: pointer;
          transition: all ease-in-out 0.2s;
          position: relative;
          z-index: 2;

          &:not(.color):hover {
            &:not(.active)::before {
              position: absolute;
              content: "";
              border-radius: 100%;
              z-index: -1;
              inset: -5px;
              background-color: white;
              box-shadow: 0 0 0 1px #eff1fe;
            }
            &:not(.active)::after {
              position: absolute;
              content: "";
              border-radius: 100%;
              z-index: 0;
              inset: 0;
              background-color: #eff1fe;
            }
          }

          &.active {
            background-color: #161932;
            span {
              color: var(--white);
              opacity: 100%;
            }
          }

          span {
            font-size: 15px;
            color: #1e213f;
            opacity: 73%;
            position: relative;
            z-index: 3;
          }

          input {
            display: none;
          }
        }
      }
    }

    &_check {
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }

    &_apply {
      background-color: var(--red);
      outline: none;
      border: none;
      font-size: 16px;
      font-weight: bold;
      color: var(--white);
      width: 140px;
      height: 53px;
      display: grid;
      place-content: center;
      border-radius: 26px;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
      cursor: pointer;
      overflow: hidden;

      &:hover {
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          background-color: #fff;
          opacity: 20%;
        }
      }
    }
  }

  &_board {
    width: 100%;
    height: 1px;
    background-color: #161932;
    opacity: 10%;
  }
}
